*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
}
.container{
    border-radius: 15px;
    box-shadow: -1px 3px 10px #888888, 0px 0px 2px #888888;
    height: 90vh;
    width: 80%;
    margin: 2% auto;
}

.container-cabecalho{
    border-radius: 15px 0 0 15px;
    display: inline-block;
    height: 100%;
    width: 30%;
    background-color: #000000;
}
.container-cabecalho .cabecalho-titulo{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: yellow;
    font-size: 2.5em;
    text-align: center;
    margin: 25% 0 0;
}
.container-cabecalho .cabecalho-titulo span{
    font-family: 'Fasthand', cursive;
    color: white;
}

.container-cabecalho h2{
    margin: 3em auto 2em;
    color: white;
    font-family: 'Golos Text', sans-serif;
    font-size: 1.5em;
    width: 75%;
    text-align: center;
}

.container-cabecalho h2 > span{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: .6em;
    padding: .5em;
}
.container-cabecalho .cabecalho-button{
    display: block;
    background-color: black;
    border: 1px solid white;
    margin: 0 auto;
    padding: 1em 1.8em;
    color: white;
    font-family: 'Golos Text', sans-serif;
    font-size: 1.2em;
    transition: all ease-in-out .2s;
}

.container-cabecalho .cabecalho-button:hover{
    background-color: #181818;

}

.container-cabecalho .container-link{
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 2em 0;
    font-size: .8em;
    text-align: center;
    color: white;
    text-decoration: none;
}
/*-------------------------------------------------------------------------------------------------------------------*/

.container-corpo{
    float: right;
    display: inline-block;
    width: 70%;
    height: 100%;
}

.corpo-formulario .formulario-titulo{
    text-align: center;
    margin: 1.7em 0 .2em;
    font-family: 'Golos Text', sans-serif;
    font-size: 2em;
}

.corpo-formulario .formulario-subtitulo{
    display: block;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #919090;
    text-align: center;
}
.corpo-formulario .formulario-cadastro{
    border: none;
    width: 100%;
    margin: 3em 0 0;
}
.corpo-formulario .formulario-cadastro label{
    display: block;
    text-align: center;
}
.corpo-formulario .formulario-cadastro .fas, .far{
    background-color: #e9e8e8;
    padding: 1.2em 1.8em 1.12em 1.8em;
    font-size: 1.2em;
    color: #c0c0c0;
}

.corpo-formulario .formulario-cadastro input{
    border: none;
    background-color: #e9e8e8;
    width: 60%;
    margin: .3em 0;
    padding: .71em 0 .74em;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #dadada;
    transition: all ease-in-out .2s;
}

.corpo-formulario .formulario-cadastro input:hover{
    font-weight: bolder;
    color: black;
}

.corpo-formulario  label[for="formulario-check"]{
    display: block;
    margin: 0 0 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-align: center;
}

.corpo-formulario .botton-submit{
    background-color: black;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 1em 3em;
    border-radius: 40px;
    font-family: 'Golos Text', sans-serif;;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    transition: all ease-in-out .2s;
}

.corpo-formulario .botton-submit:hover{
    background-color: #1f1f1f;
}


